append mainslider
	div.slider
		each prod in Productos
			div.slider__item
				h2.h1.slider__item-title #{prod.nombre}
				figure
					img.slider__item-image(data-lazy="#{prod.img}", alt="#{prod.nombre}")
				ul.slider__item-description
					li
						svg(class="icon icon-ok")
							use(xlink:href="assets/img/icons.svg#icon-ok")
						| #{prod.description.features[0]}
					if prod.description.features[1]
						li
							svg(class="icon icon-ok")
								use(xlink:href="assets/img/icons.svg#icon-ok")
							| #{prod.description.features[1]}
					if prod.description.features[2]
						li
							svg(class="icon icon-ok")
								use(xlink:href="assets/img/icons.svg#icon-ok")
							| #{prod.description.features[2]}
