doctype html
block config
	include _config
html( lang=Language )
	head
		title=title
		meta( charset="utf-8" )
		meta( name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" )
		meta( name='description', content="Existen otros mundos y están en éste" )
		meta( name='author', content=Author )
		if GoogleFonts
			link( rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans", type='text/css' )
		link( rel="stylesheet", href="./css/main.css", type="text/css" )
	body.site
		include partials/_nav-main
		header.siteHeader
			a( href="index.html", class="siteBrand" )
				svg( class="siteLogo" )
					use( xlink:href="assets/img/icons.svg#logo" )
			h1.siteTitle #{ title }
			h2.siteDescription #{ sitedesc }
		main.siteMain
			block main
		footer.siteFooter
			ul
				li: a( href="http://t0t.github.io/sergiofores/" ) Sergio Forés
				li: a( href="https://github.com/t0t/" ) Github
				li: a( href="https://www.linkedin.com/in/sergiofores/" ) Linkedin
				li: a( href="https://twitter.com/t0tinspire/" ) @t0tinspire
				li: a( href="http://t0t.github.io/tot", target="_blank" ) Repositorio TOT
		block js
			script( src='./js/build.js' )
