//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main

//- Site Cover
append header
	include partials/_header

//- Posts block
block posts
	section.posts
		h1 #{ Posts[0].title }
		figure
			img( src="#{ Posts[0].img }", alt="#{ Posts[0].title }" )
			figcaption - #{ Posts[0].title }
		p #{ Posts[0].text }
		audio(controls)
			source(src="#{ Posts[0].audio }")
			Your browser does not support the <code>audio</code> element.
