//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main

//- Site Cover
append header
	include partials/_header

//- Main append
append main
	article.post
		figure
			img( src="#{ Posts[2].img }", alt="#{ Posts[2].title }" )
			figcaption - #{ Posts[2].title }
		h1.post-title #{ Posts[2].title }
		p #{ Posts[2].text }
		audio(controls)
			source(src="#{ Posts[2].audio }")
			Your browser does not support the <code>audio</code> element.
