//- BASE HTML
extends _base

//- Site Nav Main
append navmain
	include partials/_nav-main

//- Site Cover
append header
	include partials/_header

//- Main append
append main
	article.post
		figure
			img( src="#{ Posts[1].img }", alt="#{ Posts[1].title }" )
			figcaption - #{ Posts[1].title }
		h1.post-title #{ Posts[1].title }
		p #{ Posts[1].text }
		audio(controls)
			source(src="#{ Posts[1].audio }")
			Your browser does not support the <code>audio</code> element.
